:root {
  /* color */
  --color-main: #FDD000;
  --color-black: #474747;
  --color-white: #ffffff;
  --color-gray: #CECECE;

  /* weight */
  --weight-thin: 100;
  --weight-extralight: 200;
  --weight-light: 300;
  --weight-regularlight: 350;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --weight-extrabold: 800;
  --weight-heavy: 900;

  --fz-10: 0.62rem;
  --fz-11: 0.68rem;
  --fz-12: 0.75rem;
  --fz-13: 0.81rem;
  --fz-14: 0.875rem;
  --fz-15: 0.94rem;
  --fz-16: 1rem;
  --fz-18: 1.12rem;
  --fz-20: 1.25rem;
  --fz-22: 1.37rem;
  --fz-24: 1.5rem;
  --fz-26: 1.62rem;
  --fz-28: 1.75rem;
  --fz-30: 1.875rem;
  --fz-35: 2.1875rem;
  --fz-36: 2.25rem;
  --fz-38: 2.375rem;
  --fz-40: 2.5rem;
  --fz-42: 2.625rem;
  --fz-44: 2.75rem;
  --fz-46: 2.875rem;
  --fz-48: 3rem;
  --fz-50: 3.125rem;
  --fz-70: 4.375rem;
  --fz-74: 4.625rem;
  --fz-90: 5.625rem;
}

/* common */
.flex-ac {
  display: flex;
  align-items: center;
}
.flex-jb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-jc {
  justify-content: center;
}
.direction-col {
  display: flex;
  flex-direction: column;
}
.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.inner {
  width: 100%;
  height: 100%;
  padding: 0 5%;
  &.over-fadding {
    padding-right: 0;
  }
}

/* header */
#header {
  width: 100%;
  // max-width: 1440px;
  padding: 35px 6%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: transparent;
  transition: all 0.6s ease-out;
  margin: 0 auto;
  .main-logo {
    margin-right: 20px;
  }
  .header-utils {
    position: absolute;
    right: 2.7%;
    top: 35PX;
    padding: 5px 13px;
    border-radius: 20px;
    transition: all 0.5s ease-out;
    overflow: hidden;
    height: 41px;
    cursor: pointer;
    .lan-select-btn {
      cursor: pointer;
      color: var(--color-white);
      font-weight: var(--weight-semibold);
      font-size: var(--fz-18);
      position: relative;
      margin-right: 8px;
      transition: all 0.6s ease-out;
      &::before {
        content: "";
        width: 100%;
        position: absolute;
        bottom: -1px;
        left: 0;
        height: 2px;
        background: var(--color-white);
        transition: all 0.6s ease-out;
      }
    }
    svg {
      path {
        stroke:var(--color-white) !important;
        transition: all 0.6s ease-out;
      }
    }
    .hidden-lan {
      color: var(--color-white);
      font-weight: var(--weight-semibold);
      font-size: var(--fz-16);
      margin-top: 10px;
      margin-bottom: 5px;
    }

    &.active {
      background: var(--color-main);
      .lan-select-btn {
        color: var(--color-white);
        &::before {
          background: var(--color-white);
        }
      }
    }

    &.click {
      background: var(--color-main);
      // position: absolute;
      // right: 0;
      // top: 35PX;
      height: 75px;
    }
  }

  &.no-top {
    background: var(--color-white);
    .lan-select-btn {
      color: var(--color-black);
      &::before {
        background: var(--color-black);
      }
    }
    .gnb-list {
      > a {
        color: var(--color-black);
      }

      &.active {
      > a {
          color: var(--color-main);
        }
      }
    }
    svg {
      path {
        stroke: var(--color-black) !important;
      }
    }
  }
}

/* gnb */
.gnb {
  .gnb-list {
    position: relative;
    padding: 10px 20px;
    a {
      color: var(--color-white);
      font-size: var(--fz-22);
      font-weight: var(--weight-semibold);
      position: relative;
      transition: all 0.3s ease-in-out;
    }
    .hidden-nav {
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      border-radius: 20px;
      background: var(--color-white);
      box-shadow: 0 3px 7px 0 rgba($color: #000000, $alpha: 0.16);
      padding: 15px 0;
      min-width: 130px;
      text-align: center;
      display: none;
      li {
        padding: 10px 0;
        font-size: var(--fz-18);
        font-weight: var(--weight-medium);
        cursor: pointer;
      }
    }

    &.active {
      .hidden-nav {
        display: block;
      }
      a {
        color: var(--color-main);
        &::before {
          content: "";
          width: 100%;
          position: absolute;
          bottom: -3px;
          left: 0;
          height: 2px;
          background: var(--color-main);
        }
        &.go-menu {
          color: var(--color-black);
          text-decoration: none;
          font-weight: var(--weight-medium);
          font-size: var(--fz-18);
          &::before {
            display: none;
          }
        }
      }
    }
  }
}

/* sections */
#main {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; 
  scrollbar-width: none;
  // scroll-snap-type: y mandatory;
  &::-webkit-scrollbar {
    display: none;
  }
}

.main-section {
  height: 100vh;
  padding-top: 115px;
}
.main-section {
  // scroll-snap-align: start;
  &.num1 {
    position: relative;
    background: url('../imgs/main-section1-bg.png') no-repeat center center;
    background-size: cover;
    background-color: rgba($color: #000000, $alpha: 1);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.43);
      overflow: hidden;
    }
  }
  &.num2 {
    .left-area {
      opacity: 0;
      transform: translateY(100px);
      transition: all 0.6s ease-in-out;
      &.animate {
        opacity: 1;
        transform: translateY(0)
      }
    }
    .right-area {
      opacity: 0;
      transform: translateX(100px);
      transition: all 0.6s ease-in-out;
      &.animate {
        opacity: 1;
        transform: translateX(0)
      }
    }
  }
  &.num5 {
    background: url('../imgs/yl-bg-logo.png') no-repeat center;
    background-color: #FFFDF5;
  }
}
.sub-nav-section {
  padding: 150px 0;
  position: relative;
  margin-bottom: 150px;
  .title-area {
    color: var(--color-white);
    text-align: center;
    span {
      font-size: var(--fz-22);
      font-weight: var(--weight-bold);
      display: inline-block;
      margin-bottom: 10px;
    }
    p {
      font-weight: var(--weight-extrabold);
      font-size: var(--fz-50);
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.28);
    overflow: hidden;
  }
  &.intro {
    background: url('../imgs/top-intro-bg.png') no-repeat center;
  }
  .sub-nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    // align-items: center;
    // justify-content: center;
    gap: 10px;
    width: 80%;
    cursor: pointer;
    li {
      background: #474747BF;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      font-weight: var(--weight-semibold);
      font-size: var(--fz-22);
      color: var(--color-white);
      padding: 15px 0;
      text-align: center;
      letter-spacing: -1px;
      &.active {
        background: var(--color-white);
        color: var(--color-main);
      }
    }
  }
}
.sub-section {
  margin-bottom: 200px;
  .page-title {
    text-align: center;
    margin-bottom: 150px;
    h3 {
      font-size: var(--fz-46);
      margin-bottom: 30px;
      font-weight: var(--weight-bold);
    }
    h4 {
      font-weight: var(--weight-medium);
      font-size: var(--fz-28);
    }
  }
  .picture {
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
    overflow: hidden;
    position: relative;
    z-index: -1;
    img {
      width: 100%;
    }
  }
  .greetings {
    width: calc(100% - 60px);
    padding: 80px;
    background: rgba(255, 255, 255, 0.96);
    box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.1);
    margin-left: 30px;
    margin-top: -50px;
    z-index: 1000;
    border-radius: 25px;
    h5 {
      font-weight: var(--weight-bold);
      font-size: var(--fz-40);
      padding-bottom: 30px;
      border-bottom: 5px solid var(--color-main);
    }
    p {
      margin-top: 30px;
      margin-bottom: 80px;
      font-size: var(--fz-28);
      font-weight: var(--weight-medium);
    }
    .name {
      text-align: right;
      span {
        font-weight: var(--weight-medium);
        font-size: var(--fz-28);
        display: inline-block;
        margin-right: 30px;
      }
      strong {
        font-weight: var(--weight-bold);
        font-size: var(--fz-35);
      }
    }
  }
}

.history-section {
  border-top: 5px solid var(--color-main);
  border-bottom: 5px solid var(--color-main);
  .history-list-wrap {
    .history-list {
      display: flex;
      align-items: center;
      // justify-content: center;
      gap: 200px;
      padding: 50px 200px;
      .year-area {
        align-self: flex-start;
        font-weight: var(--weight-extrabold);
        font-size: var(--fz-70);
      }
      .details {
        li {
          list-style: disc;
          font-weight: var(--weight-medium);
          font-size: var(--fz-30);
          line-height: 50px;
        }
      }
    }
  }
}
.section-wrapper {
  padding: 130px 0 100px;
}
.about-brand {
  .title {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
    position: relative;
    &::before {
      content: '';
      width: 40px;
      height: 10px;
      background: var(--color-main);
      position: absolute;
      top: -20px;
      left: 0;
    }
    h2 {
      font-weight: var(--weight-bold);
      font-size: var(--fz-50);
    }
    h3 {
      font-size: var(--fz-30);
      font-weight: var(--weight-bold);
    }
  }
  .text {
    font-size: var(--fz-30);
    font-weight: var(--weight-semibold);
    display: inline-block;
    margin-bottom: 30px;
    
  }
  .logo-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F9F9F9;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 50px;
    margin-bottom: 50px;
  }
  .product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    .product-list {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #F9F9F9;
      border: 1px solid #ddd;
      padding: 40px;
      border-radius: 25px;
      aspect-ratio: 1;
      img {
        height: 100%;
      }
    }
    p {
      text-align: center;
      margin-top: 20px;
      font-size: var(--fz-26);
      letter-spacing: -1px;
    }
  }
  &.brand_manmul {
    .product-list {
      background: white;
    }
  }
}
.brand-detail {
  box-shadow: 0 4px 23px 0 rgba($color: #000000, $alpha: 0.3);
  border-radius: 50px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  aspect-ratio: 1/1.2;
  .top {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    img {
    }
  }
  .bottom {
    padding: 30px;
    p {
      font-weight: var(--weight-semibold);
      font-size: var(--fz-24);
      margin-bottom: 10px;
    }
    span {
      font-size: var(--fz-18);
      font-weight: var(--weight-medium);
      color: #AAAAAA;
      letter-spacing: -1px;
    }
  }
}
.certification {
  .certification-list-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
  }
  .certification-list {
    .img-box {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px;
      border: 1px solid #DDDDDD;
      border-radius: 25px;
      margin-bottom: 20px;
    }
    p {
      text-align: center;
      font-weight: var(--weight-semibold);
      font-size: var(--fz-30);
      letter-spacing: -1px;
    }
  }
}
.certification-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  button {
    width: 44px;
    height: 44px;
    font-size: var(--fz-24);
    font-weight: var(--weight-medium);
  }
  nav {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .prev-area,
  .page-area,
  .next-area {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .page-area {
    button {
      &.active {
        color: var(--color-main);
        border: 2px solid var(--color-main);
        border-radius: 8px;
      }
    }
  }
}
.detail-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-bottom: 200px;
  > div {
    padding: 30px 0 60px;
    border-top: 2px solid #474747;
    border-bottom: 2px solid #ddd;
    span {
      display: inline-block;
      margin-bottom: 20px;
      font-weight: var(--weight-semibold);
      font-size: var(--fz-30);
    }
    p {
      font-weight: var(--weight-medium);
      font-size: var(--fz-22);
      letter-spacing: -1px;
      word-break: keep-all;
    }
  }
}
.side-page-nation {
  position: fixed;
  top: 50%;
  // left: 4%;
  left: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.6s ease-out;
  span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #D9D9D9;
    transition: border-radius 0.3s ease-out, height 0.3s ease-out;
    &.active {
      border-radius: 9px;
      background: var(--color-main);
      height: 55px;
    }
  }
}
.section-content {
  .section-title {
    display: inline-block;
    font-size: var(--fz-35);
    font-weight: var(--weight-light);
    color: var(--color-gray);
    margin-bottom: 10px;
  }
  .section-main-text {
    font-weight: var(--weight-extrabold);
    font-size: var(--fz-70);
    margin-bottom: 40px;
  }
  .img-box {
    border-radius: 50px;
    overflow: hidden;
    max-width: 500px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  .section-sub-text {
    strong {
      display: inline-block;
      font-size: var(--fz-35);
      font-weight: var(--weight-semibold);
      margin-bottom: 12px;
    }
    span {
      font-size: var(--fz-26);
    }
  }
  &.intro {
    color: var(--color-white);
    z-index: 1;
    h3 {
      font-size: var(--fz-44);
      font-weight: var(--weight-light);
      margin-bottom: 1.5rem;
    }
    h4 {
      font-size: var(--fz-70);
      font-weight: var(--weight-extrabold);
      margin-bottom: 2.25rem;
    }
    button {
      color: var(--color-white);
      padding: 12px 25px;
      font-weight: var(--weight-medium);
      font-size: var(--fz-24);
      border: 1.5px solid var(--color-white);
      border-radius: 36px;
      transition: all 0.2s ease-out;
      &:hover {
        background: var(--color-white);
        color: var(--color-black);
      }
    }
  }

  &.about {
    padding: 0 30px;
    gap: 30px;
    .more-page-button {
      margin-top: 70px;
      color: var(--color-main);
      border-radius: 35px;
      border: 1px solid var(--color-main);
      padding: 12px 25px;
      font-size: var(--fz-24);
      font-weight: var(--weight-medium);
      transition: all 0.2s ease-out;
      &:hover {
        background: var(--color-main);
        color: var(--color-white);
      } 
    }
  }

  &.brand {
    padding-left: 30px;
    gap: 30px;
    .section-main-text {
      font-size: var(--fz-70);
    }
    .section-sub-text {
      span {
        display: inline;
        margin-bottom: 15px;
        font-size: var(--fz-24);
        font-weight: var(--weight-semibold);
        color: #DDDDDD;
        cursor: pointer;
        &.active {
          font-size: var(--fz-28);
          color: var(--color-black);
        }
      }
    }
  }

  &.notice {
    padding-left: 30px;
    .left-area {
      margin-bottom: 80px;
    }
  }
}

.news-notice {
  .notice-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    border-radius: 55px;
    border: 2px solid #DDDDDD;
    max-width: 300px;
    aspect-ratio: 1;
    .content {
      .category {
        display: inline-block;
        font-weight: var(--weight-bold);
        font-size: var(--fz-26);
        color: var(--color-main);
        margin-bottom: 10px;
      }
      p {
        width: 100%;
        font-size: var(--fz-26);
        font-weight: var(--weight-semibold);
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 37px;
        
      }
    }
    .reg-date {
      align-self: flex-end;
    }
  }
}

.contact-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  padding: 15px;
  border: 4px solid var(--color-main);
  background: var(--color-white);
  border-radius: 50px;
  font-size: var(--fz-24);
  font-weight: var(--weight-semibold);
  span {
    margin-left: 30px;
  }
  &:hover {
    background: var(--color-main);
    color: var(--color-white);
  }
}

.slider-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 50%;
  // max-width: 1000px;
  // overflow-x: scroll;
  .img-box {
    min-width: 400px;
    white-space: nowrap;
  }
}

/* footer */
#footer {
  .footer-main-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  background: #474747;
  padding: 100px 80px;
  .title-area {
    color: var(--color-white);
    .main-logo {
      display: inline-block;
      margin-bottom: 15px;
    }
    p {
      font-weight: var(--weight-medium);
      margin-bottom: 30px;
    }
    .contact-buttons {
      display: flex;
      align-items: center;
      gap: 15px;
      button {
        color: var(--color-white);
        font-weight: var(--weight-medium);
        padding: 10px 20px;
        border-radius: 20px;
        background: #373737;
      }
    }
  }
  address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    .address, .service {
      font-size: var(--fz-14);
      margin-top: 20px;
      span {
        display: inline-block;
        font-weight: var(--weight-bold);
      }
    }
  }
}

/* swiper */
.swiper.mainPageSwipers {
  padding-bottom: 50px;
}
.swiper.mainPageSwipers2 {
  position: relative;
  padding-bottom: 150px;
}
.swiper-pagination-progressbar.mainPageSwiper {
  top: auto !important;
  bottom: 0;
  .swiper-pagination-progressbar-fill {
    background: var(--color-main);
  }
}
.notice-swiper-button-wrap {
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  align-items: center;
  gap: 50px;
  .swiper-button-next,
  .swiper-button-prev,
  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    position: relative;
    background: var(--color-white) !important;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1) !important;
    border-radius: 50% !important;
    width: 80px !important;
    height: 80px !important;
    opacity: 1 !important;
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 25px;
      font-weight: var(--weight-extrabold);
      color: var(--color-main);
    } 
  }
  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    &::after {
      color: #AAAAAA;
    }
  }
}

/* media query */
@media (min-width: 1440px) {
  // .side-page-nation {
  //   left: calc((100vw - 1480px) / 2 + 2%);
  // }
}

@media (max-width: 1023px) {
  #header .main-logo {
    margin-right: 10px;
    max-width: 180px;
  }
  .gnb .gnb-list {
    padding: 5px 10px;
    a {
      font-size: var(--fz-18);
    }
  }
  .section-content .section-main-text, .section-content.brand .section-main-text {
    font-size: var(--fz-50);
  }
}

